{% extends 'base.html' %}
    {% block content %}
    <h3>Keyword : {{key}}</h3>
    <div class="card my-3">
       <h5 class="card-header">
        State
       </h5>
        <div class="card-body">
            <p class="card-text">{ {% for s in state %}{{s}}{% if not forloop.last %}, {% endif %}  {% endfor %} }</p>
        </div>
    </div>
    <div class="card my-3">
       <h5 class="card-header">
        Symbol
       </h5>
        <div class="card-body">
            <p class="card-text">{ {% for s in symbol %}{{s}}{% if not forloop.last %}, {% endif %}  {% endfor %} }</p>
        </div>
    </div>
     <div class="card my-3">
       <h5 class="card-header">
        Delta
       </h5>
        <div class="card-body">
            <ul>
                    {% for key,value in delta.items %}
                    {% if value|length > 1 %}
                        {% for k,s in value.items %}
                            <li>( {{key}},{{k}} ) = { {% for i in s %} {{i}} {% endfor %} }</li>
                        {% endfor %}
                    {% elif not value %}
                        <li>( {{key}} )</li>
                     {% else %}
                     <li>
                        {% for k , s in value.items %}
                                ( {{key}},{{k}} ) = { {{s}} }
                        {% endfor %}
                    </li>

                    {% endif %}

                {% endfor %}
            </ul>
        </div>
    </div>
     <div class="card my-3">
       <h5 class="card-header">
        Start State
       </h5>
        <div class="card-body">
            <p class="card-text">{{start_state}}</p>
        </div>
    </div>
      <div class="card my-3">
       <h5 class="card-header">
        Final State
       </h5>
        <div class="card-body">
        {% for k,s in final_state.items  %}
               <li>
               { {{k}} : {{s}} }
               </li> 
        {% endfor %}
        </div>
    </div>
    {% endblock content %}